<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map of Netherlands with merged data</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

    <style>
        .background {
            fill: #ddeeff;
        }

        .country {
            fill: #ffffdd;
            stroke: #226688;
        }

        .graticule {
            fill: none;
            stroke: #000;
            stroke-opacity: .3;
            stroke-dasharray: 3, 1;
        }

        .graticule.outline {
            stroke: #333;
            stroke-opacity: 1;
            stroke-width: 1.5px;
            stroke-dasharray: initial;
        }
    </style>
</head>
<body>
<script>
    var COLORS = {
        'blue': '#a3cec5',
        'green': '#d3e46f',
        'orange': '#fdc663',
        'pink': '#f3c1d3',
        'purple': '#ceb5cf',
        'red': '#fdaf6b',
        'turquoise': '#aadb78',
        'yellow': '#fae364'
    };

    var width = window.innerWidth;
    var height = window.innerHeight;

    var zoom = d3.behavior.zoom()
            .scaleExtent([1, 60])
            .size([width, height])
            .on('zoom', onZoom);

    var projection2 = d3.geo.winkel3()
            .scale(Math.min(150 / 772 * width, 150 / 472 * height))
            .translate([width / 2, height / 2]);

    var projection = d3.geo.mercator()
    .center([5, 52])
    .scale(8450)
    .translate([width / 2, height / 2]);

    var path = d3.geo.path().projection(projection);

    var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height)
            .call(zoom);

    var g = svg.append('g');

    g.append('path')
            .datum({'type': 'Sphere'})
            .attr('class', 'background')
            .attr('d', path);

    g.append('path')
            .datum(d3.geo.graticule().minorStep([5, 5]))
            .attr('class', 'graticule')
            .attr('d', path);

    g.append('path')
            .datum({'type': 'Sphere'})
            .attr('class', 'graticule outline')
            .attr('d', path);

    var visitedData = {};
    var cities = [];


    d3.json("{{ topojsonurl }}&year={{ datayear }}", function (error, world) {
        if (error) {
            console.log(error);
            return;
        }

        d3.json("{{ datajsonurl }}&year={{ datayear }}", function (error, data) {
            if (error) {
                console.log(error);
            } else {
                visitedData = data;
            }

            var countries = topojson.feature(world, world.objects.nld).features;

            g.selectAll('.country').data(countries).enter()
                    .append('path')
                    .attr('class', 'country')
                    .attr('d', path)
                    .style('fill', function (d) {
                        var color = visitedData[d.id] && visitedData[d.id].color;
                        return color && COLORS[color] || '#ffffdd';
                    });

            for (var i in visitedData) {
                if (visitedData.hasOwnProperty(i) && visitedData[i].name) {
                    cities.push.apply(cities, visitedData[i].name);
                }
            }

        });
    });

    function onZoom () {
        var t = d3.event.translate;
        var s = d3.event.scale;

        t[0] = Math.max(Math.min(t[0], 0), width * (1 - s));
        t[1] = Math.max(Math.min(t[1], 0), height * (1 - s));

        zoom.translate(t);

        g.style("stroke-width", 1 / s)
                .attr('transform', 'translate(' + t + ')scale(' + s + ')');
    }
</script>
</body>
</html>
