<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map of Netherlands with merged data</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

    <style>

        .background {
            fill: #ddeeff;
        }

        .country {
            fill: #ffffdd;
            stroke: #226688;
        }

        .graticule {
            fill: none;
            stroke: #000;
            stroke-opacity: .3;
            stroke-dasharray: 3, 1;
        }

        .graticule.outline {
            stroke: #333;
            stroke-opacity: 1;
            stroke-width: 1.5px;
            stroke-dasharray: initial;
        }
    </style>
<style type="text/css">
  #myhandle {position: absolute;z-index: 100;height: 25px;width: 35px;top: auto;background: url(http://stackoverflow.com/content/img/so/vote-arrow-down.png) no-repeat;}   
  </style>

<script>
$(function() {
$( "#slider-range-min" ).slider({
range: "min",
value: 37,
min: 1812,
max: 1997,
slide: function( event, ui ) {
$( "#amount" ).val( ui.value );
displayYear(ui.value);
}
});
$( "#amount" ).val( $( "#slider-range-min" ).slider( "value" ) );
});
$(document).ready(function(){

 $("#slider").slider({handle: '#myhandle'});

})
</script>

</head>
<body>
<!-- <button type="button" id="change">Change Year</button> -->
<script>
    var COLORS = {
        'blue': '#a3cec5',
        'green': '#d3e46f',
        'orange': '#fdc663',
        'pink': '#f3c1d3',
        'purple': '#ceb5cf',
        'red': '#fdaf6b',
        'turquoise': '#aadb78',
        'yellow': '#fae364'
    };

    var width = window.innerWidth;
    var height = window.innerHeight;

    var zoom = d3.behavior.zoom()
            .scaleExtent([1, 60])
            .size([width, height])
            .on('zoom', onZoom);

    var projection2 = d3.geo.winkel3()
            .scale(Math.min(150 / 772 * width, 150 / 472 * height))
            .translate([width / 2, height / 2]);

    var projection = d3.geo.mercator()
    .center([5, 52])
    .scale(7450)
    .translate([width / 2, height / 2]);

    var path = d3.geo.path().projection(projection);

    var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height)
            .call(zoom);
   
    svg.append("div")
	    .attr("class", "slider-range-min")

     // Add the year label; the value is set on transition.
     var label = svg.append("text")
    .attr("class", "year label")
    .attr("text-anchor", "end")
    .attr("y", 15)
    .attr("x", width / 2 + 85)
    .text({{ datayear }});
  
    var g = svg.append('g');

    var visitedData = {};
    var cities = [];

    d3.json("{{ topojsonurl }}&year={{ datayear }}", function (error, world) {
        if (error) {
            console.log(error);
            return;
        }

        d3.json("{{ datajsonurl }}&year={{ datayear }}", function (error, data) {
            if (error) {
                console.log(error);
            } else {
                visitedData = data;
            }

            var countries = topojson.feature(world, world.objects.nld).features;

            g.selectAll('.country').data(countries).enter()
                    .append('path')
                    .attr('class', 'country')
                    .attr('d', path)
                    .style('fill', function (d) {
                        var color = visitedData[d.id] && visitedData[d.id].color;
                        return color && COLORS[color] || '#ffffdd';
                    });

            for (var i in visitedData) {
                if (visitedData.hasOwnProperty(i) && visitedData[i].name) {
                    cities.push.apply(cities, visitedData[i].name);
                }
            }

        });
    });

    function onZoom () {
        var t = d3.event.translate;
        var s = d3.event.scale;

        t[0] = Math.max(Math.min(t[0], 0), width * (1 - s));
        t[1] = Math.max(Math.min(t[1], 0), height * (1 - s));

        zoom.translate(t);

        g.style("stroke-width", 1 / s)
                .attr('transform', 'translate(' + t + ')scale(' + s + ')');
    }

  // Updates the display to show the specified year.
  function displayYear(year) {
    var yr = Math.round(year);
    label.text(yr);
  }

d3.select("#change").on("click", function() {
    displayYear('1812');
    d3.json("{{ topojsonurl }}&year=1812", function (error, world) {
	var t = svg.transition().duration(750);
    });
});
</script>
<div id="slider-range-min"></div>
</body>
</html>
