{% extends "base.html" %}
{% block content %}
<br />
<h2>NLGIS team</h2>
<br />

<p>
Richard Zijdeman
<br />
NLGIS-2 Project leader
<br />
email: richard.zijdeman@iisg.nl
</p>

<p>
Jerry de Vries
<br />
Information Analyst
<br />
email: jvr@iisg.nl
</p>

<p>
Vyacheslav Tykhonov
<br />
Architecture, backend and frontend development
<br />
email: vty@iisg.nl
</p>
<p>
<h2>Steering Committee</h2>
<br />
<a href="http://socialhistory.org/en/staff/karin-hofmeester">Karin Hofmeester</a>
<br />
Senior researcher, project manager Global Collaboratory on the History of Labour Relations in the period 1500-2000
<br />
email: kho@iisg.nl
<br />
<br />
<a href="http://socialhistory.org/en/staff/kees-mandemakers">Kees Mandemakers</a>
<br />
Senior research fellow, heading the HSN
<br />
email: kma@iisg.nl
</p>
{% endblock %}
