{% extends "base.html" %}
{% block content %}
<p>
<h2>What is NLGIS?</h2>
In the nineteenth century there were more than 800 municipalities in the Netherlands, where today only about 450 remain. The NLGIS (Netherlands Geographic Information System) project is an effort to plot data for these municipalities on historically accurate municipality  <a href="/site?code=TXGE&year=1986">boundaries</a> for the period 1812 - 1997.
</p>
<table border=0 valign=top width="100%">
<tr>
<td width="48%">
<h2>Key Features</h2>
The project's aim is twofold: to allow non-GIS experts to easily plot data on historical maps and to disseminate information on the maps and the underlying data from the Historical Database of Dutch Municipalities (HDNG). We do so in the following manner:
	<li>Upload your own datasets and visualize the data on historically accurate map boundaries</li>
	<li>Get access to the map of Netherlands on the <a href="/site?code=TXGE&year=1982&province=Noord-Holland">provincial level</a></li>
	<li>Download the map in Vector (<a href="/download?year=1982&province=&code=TXGE&format=SVG">SVG</a>, <a href="/download?year=1982&province=&code=TXGE&format=shapefile">ShapeFile</a>) or Raster quality (<a href="/download?year=1982&code=TXGE">PNG</a>, <a href="/download?year=1982&province=&code=TXGE&format=PDF">PDF</a>)</li>
	<li>Integrate the map with your data with popular public map services like Google Maps or Leaflet</li>
	<li>Use NLGIS <a href="/developers">public Data and Geo APIs</a> and shapefiles to build your own map visualization</li>
	<li>Customize your map selecting projection, colormap, data categories, number of colors, etc</li> 
	<li>Use <a href="/index">NLGIS datasets</a> free of charge to do your own research</li>
<table>
<tr>
<td><br/><a href="https://iisg.amsterdam"><img src="/static/socialhistory.png"></a></td>
</tr>
</table>
</td>
<td width=2%"></td>
<td width="50%">
<p>
<a href="/site?year=1889&code=VIB1"><img width=300px height=400px src="/static/map1.png"></a>
<a href="/site?code=TXGE&year=1982"><img width=300px height=400px src="/static/map2.png"></a>
</td>
</tr>
</table>
{% endblock %}
