{% extends "base.html" %}
{% block content %}
<p>
<h2>What is NLGIS?</h2>
</p>
<p>
NLGIS project has more than 30 years of history and contains <a href="/demo/site?code=TXGE&year=1986">historical boundaries of Netherlands</a> from 1812 to 1997.<br /> It also provides more than <a href="/demo/index">1000 Dutch indicators</a> in the economic and social history.<br />
</p>
<table border=0 valign=top width="100%">
<tr>
<td width="50%">
<h2>Features List</h2>
<p>
Using our wonderful and accurate historical maps you can:
<br />
<b>U</b>pload your own datasets and visualize the data on historically accurate map boundaries
<br />
<b>G</b>et access to the map of Netherlands on the <a href="/demo/site?code=TXGE&year=1982&province=Noord-Holland">municipal level</a>
<br />
<b>D</b>ownload the map in Vector (<a href="/demo/download?year=1982&province=&code=TXGE&format=SVG">SVG</a>, <a href="/demo/download?year=1982&province=&code=TXGE&format=shapefile">ShapeFile</a>) or Raster quality (<a href="/demo/download?year=1982&code=TXGE">PNG</a>, <a href="/demo/download?year=1982&province=&code=TXGE&format=PDF">PDF</a>)
<br />
<b>I</b>ntegrate the map with your data with popular public map services like Google Maps or Leaflet
<br />
<b>U</b>se NLGIS <a href="/demo/developers">public Data and Geo APIs</a> and shapefiles to build your own map visualization
<br />
<b>C</b>ustomize your map <a href="/demo/advanced">selecting projection, colormap</a>, data categories, number of colors, etc 
<br />
<b>U</b>se <a href="/demo/index">NLGIS datasets</a> free of charge to do your own research
<br />
</p>
</td>
<td width="50%">
<p>
<a href="/demo/site?code=TXGE&year=1986"><img width=300px height=400px src="/tmp/1889_VIB1_map.png"></a>
<a href="/demo/site?code=TXGE&year=1986"><img width=300px height=400px src="/tmp/1982_TXGE_map.png"></a>
</td>
</tr>
</table>
{% endblock %}
