{% extends "base.html" %}
{% block content %}
<p>
<h2>What is NLGIS?</h2>
</p>
NLGIS project has more than 30 years of history and contains <a href="/site?code=TXGE&year=1986">historical boundaries of Netherlands</a> from 1812 to 1997.<br /> It also provides more than <a href="/index">1000 Dutch indicators</a> in the economic and social history.
<table border=0 valign=top width="100%">
<tr>
<td width="48%">
<h2>Key Features</h2>
<p>
Using our wonderful and <b>accurate historical maps</b> you can:
<br />
<b>U</b>pload your own datasets and visualize the data on historically accurate map boundaries
<br />
<b>G</b>et access to the map of Netherlands on the <a href="/site?code=TXGE&year=1982&province=Noord-Holland">municipal level</a>
<br />
<b>D</b>ownload the map in Vector (<a href="/download?year=1982&province=&code=TXGE&format=SVG">SVG</a>, <a href="/download?year=1982&province=&code=TXGE&format=shapefile">ShapeFile</a>) or Raster quality (<a href="/download?year=1982&code=TXGE">PNG</a>, <a href="/download?year=1982&province=&code=TXGE&format=PDF">PDF</a>)
<br />
<b>I</b>ntegrate the map with your data with popular public map services like Google Maps or Leaflet
<br />
<b>U</b>se NLGIS <a href="/developers">public Data and Geo APIs</a> and shapefiles to build your own map visualization
<br />
<b>C</b>ustomize your map <a href="/advanced">selecting projection, colormap</a>, data categories, number of colors, etc 
<br />
<b>U</b>se <a href="/index">NLGIS datasets</a> free of charge to do your own research
<br />
</p>
</td>
<td width=2%"></td>
<td width="50%">
<p>
<a href="/site?year=1889&code=VIB1"><img width=300px height=400px src="/static/map1.png"></a>
<a href="/site?code=TXGE&year=1982"><img width=300px height=400px src="/static/map2.png"></a>
</td>
</tr>
<tr>
<td><a href="http://www.socialhistory.org"><img src="/static/socialhistory.png"></a></td>
</tr>
</table>
{% endblock %}
