{% extends "base.html" %}
{% block content %}
<p>
<h2>The history of NLGIS2</h2>
</p>

<p>The aim of the nlgis2 project is to reestablish the services provided by the nlgis project. The original nlgis project allowed researchers to upload data on characteristics of Dutch municipalities in the 19th and 20th century and plot that data on a map using Onno Boonstra's shapefiles ([urn:nbn:nl:ui:13-wsh-wv7]). <br />
In addition, nlgis2 aims to provide an R-package to easily plot such data in the R-environment using existing packages. Finally, there are various datasets on municipality characteristics that we aim to provide through a webservice.</p>

<p>The nlgis2 project is made possible by a Dans Small Data Project grant [<a href="http://www.dans.knaw.nl/en/content/projects/small-data-projects">http://www.dans.knaw.nl/en/content/projects/small-data-projects</a>] and is executed by members of the International Institute of Social History [<a href="http://socialhistory.org">http://socialhistory.org</a>]. The project closely collaborates with the Hic Sunt Leones group who were also awarded a Small Data Project grant to extent the existing shapefiles by making them available through RDF [<a href="http://www.hicsuntleones.nl">http://www.hicsuntleones.nl</a>]. </p>
<h2>Project Team</h2>
<br />

<p>
<a href="http://nl.linkedin.com/in/richardzijdeman">Richard Zijdeman</a>
<br />
Project leader
<br />
email: richard.zijdeman@iisg.nl
</p>

<p>
<a href="http://www.linkedin.com/pub/jerry-de-vries/13/751/537">Jerry de Vries</a>
<br />
Information Analyst
<br />
email: jvr@iisg.nl
</p>

<p>
<a href="http://nl.linkedin.com/in/vyacheslavtikhonov">Vyacheslav Tykhonov</a>
<br />
Architecture, backend and frontend development
<br />
email: vty@iisg.nl
</p>
<p>
<h2>Steering Committee</h2>
<br />
<a href="http://socialhistory.org/en/staff/karin-hofmeester">Karin Hofmeester</a>
<br />
Senior researcher, project manager Global Collaboratory on the History of Labour Relations in the period 1500-2000
<br />
email: kho@iisg.nl
<br />
<br />
<a href="http://socialhistory.org/en/staff/kees-mandemakers">Kees Mandemakers</a>
<br />
Senior research fellow, heading the HSN
<br />
email: kma@iisg.nl
</p>
<a href="/presentation">Presentation of the project</a>
</p>
{% endblock %}
