<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Robots" content="index,follow" />
<meta name="description" content="Description" />
<meta name="keywords" content="key, words" />
<link rel="stylesheet" type="text/css" href="/demo/static/screen.css" media="screen" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"/>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

    <style>
        .background {
            fill: #ddeeff;
        }

        .country {
            fill: #ffffdd;
            stroke: #226688;
        }

        .graticule {
            fill: none;
            stroke: #000;
            stroke-opacity: .3;
            stroke-dasharray: 3, 1;
        }

        .graticule.outline {
            stroke: #333;
            stroke-opacity: 1;
            stroke-width: 1.5px;
            stroke-dasharray: initial;
        }
    </style>
<title>Historical Boundaries of Netherlands</title>
<meta name="description" content="Mapping Netherlands for 200 years" />

</head>
<body>
<div id="content">
<p id="top">Map the past, paste the map</p>
<div id="logo">
<h1><a href="index.html">nlgis2</a></h1>
</div>
<ul id="menu">
<li class="current"><a href="/demo/site">Home</a></li>
<li><a href="/demo/history">History</a></li>
<li><a href="/demo/members">Members</a></li>
<li><a href="/demo">Presentation</a></li>
<li><a href="/demo/developers">For developers</a></li>
</ul>

<div class="main">
<p>
<h2>NLGIS2</h2>
</p>

<p>The aim of the nlgis2 project is to reestablish the services provided by the nlgis project. The original nlgis project allowed researchers to upload data on characteristics of Dutch municipalities in the 19th and 20th century and plot that data on a map using Onno Boonstra's shapefiles ([urn:nbn:nl:ui:13-wsh-wv7]). <br />
In addition, nlgis2 aims to provide an R-package to easily plot such data in the R-environment using existing packages. Finally, there are various datasets on municipality characteristics that we aim to provide through a webservice.</p>

<p>The nlgis2 project is made possible by a Dans Small Data Project grant [<a href="http://www.dans.knaw.nl/en/content/projects/small-data-projects">http://www.dans.knaw.nl/en/content/projects/small-data-projects</a>] and is executed by members of the International Institute of Social History [<a href="http://socialhistory.org">http://socialhistory.org</a>]. The project closely collaborates with the Hic Sunt Leones group who were also awarded a Small Data Project grant to extent the existing shapefiles by making them available through RDF [<a href="http://www.hicsuntleones.nl">http://www.hicsuntleones.nl</a>]. </p>

</body>
</html>
