<!DOCTYPE html>
<html class="no-js">

<head>

  <meta charset="UTF-8">

  <title>NLGIS Navigation tool</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet prefetch' href='http://bradfrost.github.com/this-is-responsive/styles.css'>

    <link rel="stylesheet" href="/demo/static/tabs.css" media="screen" type="text/css" />

    <script src="/demo/static/modernizr.js"></script>

</head>

<body>

<dl class="accordion">
  <dt class="accordion__title">NLGIS Datasets</dt>
  <dd class="accordion__content">
    <p><b>
	NLGIS datasets
    </b></p>
	<p>
        <form>
        <select name=code>
        {% for code, indicator in selectedcode.iteritems() %}
                <option value="{{ code }}" selected>{{ indicator }}</option>
        {% endfor %}
        {% for code, indicator in indicators.iteritems() %}
                <option value="{{ code }}">{{ indicator }}</option>
        {% endfor %}
        </select>
        <br />
        {% if datayear %}
                <input type=text name=year value="{{ datayear }}" size="5">&nbsp;
        {%endif %}
        &nbsp;
        <br />
        <input type=submit name="Submit" value="Plot Map!">
        &nbsp;<a href="/demo/advanced">Advanced settings</a>
        <br>
        </form>
	</p>
  </dd>
  <dt class="accordion__title">Custom Data</dt>
  <dd class="accordion__content">
    <p><b>
	Custom Datasets uploaded by User
    </b></p>
        <p>
        <form>
        <select name=code>
        {% for code, indicator in selectedcode.iteritems() %}
                <option value="{{ code }}" selected>{{ indicator }}</option>
        {% endfor %}
        {% for code, indicator in indicators.iteritems() %}
                <option value="{{ code }}">{{ indicator }}</option>
        {% endfor %}
        </select>
        <br />
        {% if datayear %}
                <input type=text name=year value="{{ datayear }}" size="5">&nbsp;
        {%endif %}
        &nbsp;
        <br />
        <input type=submit name="Submit" value="Plot Map!">
        &nbsp;<a href="/demo/advanced">Advanced settings</a>
        <br>
        </form>
        </p>
  </dd>
  <dt class="accordion__title">Upload Dataset</dt>
  <dd class="accordion__content">
    <p>
        <h4>Dataset Upload</h4>
        <p>
        Note: allowed extensions are .xls, .xlsx and .csv
        <form method=POST enctype=multipart/form-data>
         <input type=file name=file>
         <input type=submit value="Process">
         </form>
        </p>
    </p>
  </dd>
</dl>


  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

  <script src="/demo/static/index.js"></script>

</body>

</html>
